* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000000c3;
    min-height: 100vh;
}

.container {
    max-width: 1280px;
    padding: 20px 50px;
    margin: 0 auto;
    background-color: #00000091;
    box-sizing: border-box;
    min-height: 100vh;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0px;
    }
}

.slider {
    width: 100%;
    height: 70vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 20px 50px;
}

@media screen and (max-width: 768px) {
    .slider {
        height: 50vh;
        padding: 30px;
    }
}

.slides {
    display: block;
    position: relative;
    height: 100%;
}

.slide {
    height: 100%;
    position: relative;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.slide::after {
    display: block;
    width: 50%;
    content: 'Slide 0';
    position: absolute;
    bottom: -60px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
    font-family:monospace;
    font-style: italic;
    font-variant: small-caps;
    text-align: left;
    transition: .5s ease-in-out;
}

@media screen and (max-width: 768px) {
    .slide::after {
        width: 100%;
        bottom: -120px;
    }
}

.slider > input {
    display: none;
}

.labels {
    position: relative;
    z-index: 2;
    float: right;
    width: fit-content;
    display: flex;
    align-self: flex-end;
    margin-right: 50px;
}

@media screen and (max-width: 768px) {
    .labels {
        align-self: center;
        margin-right: 0;
        column-gap: 10px;
    }
}

.slider-btn {
    margin: 10px;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    box-sizing: border-box;
    transition: .2s;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .slider-btn {
        width: 20px;
        height: 20px;
    }
}

.slider-btn:hover {
    border-width: 5px;
}

#slide1:checked ~ .labels > .slider-btn1,
#slide2:checked ~ .labels > .slider-btn2,
#slide3:checked ~ .labels > .slider-btn3,
#slide4:checked ~ .labels > .slider-btn4 {
    background-color: #ffffff;
}

#slide1:checked ~ .slides > .slide {
    background-image: url("../img/mem1.jpg");
    animation: listingAnimation1 0.5s linear forwards 0s;
}

#slide1:checked ~ .slides > .slide::after {
    content: "Diving";
    animation: listingAnimation2 0.5s linear forwards 0s;
}

#slide2:checked ~ .slides > .slide {
    background-image: url("../img/mem2.jpg");
    animation: listingAnimation3 0.5s linear forwards 0s;
}

#slide2:checked ~ .slides > .slide::after {
    content: "Hi! =)";
    animation: listingAnimation4 0.5s linear forwards 0s;
}

#slide3:checked ~ .slides > .slide {
    background-image: url("../img/mem3.png");
    animation: listingAnimation5 0.5s linear forwards 0s;
}

#slide3:checked ~ .slides > .slide::after {
    content: "Types";
    animation: listingAnimation6 0.5s linear forwards 0s;
}

#slide4:checked ~ .slides > .slide {
    background-image: url("../img/mem4.jpg");
    animation: listingAnimation7 0.5s linear forwards 0s;
}

#slide4:checked ~ .slides > .slide::after {
    content: "Recursion(Recursion)";
    animation: listingAnimation8 0.5s linear forwards 0s;
}

@keyframes listingAnimation1 {
    0% {
        opacity: 0;
        transform: scale(1) rotate(0deg) translate(15px, 0px);
        animation-timing-function: ease-out;
    }

    100% {
        opacity: 1;
        transform: scale(1) rotate(0deg) translate(0px, 0px);
    }
}

@keyframes listingAnimation2 {
    0% {
        opacity: 0;
        transform: scale(1) rotate(10deg) translate(0px, 30px);
        animation-timing-function: ease-out;
    }

    100% {
        opacity: 1;
        transform: scale(1) rotate(0deg) translate(0px, 0px);
    }
}

@keyframes listingAnimation3 {
    0% {
        opacity: 0;
        transform: scale(1) rotate(0deg) translate(15px, 0px);
        animation-timing-function: ease-out;
    }

    100% {
        opacity: 1;
        transform: scale(1) rotate(0deg) translate(0px, 0px);
    }
}

@keyframes listingAnimation4 {
    0% {
        opacity: 0;
        transform: scale(1) rotate(10deg) translate(0px, 30px);
        animation-timing-function: ease-out;
    }

    100% {
        opacity: 1;
        transform: scale(1) rotate(0deg) translate(0px, 0px);
    }
}

@keyframes listingAnimation5 {
    0% {
        opacity: 0;
        transform: scale(1) rotate(0deg) translate(15px, 0px);
        animation-timing-function: ease-out;
    }

    100% {
        opacity: 1;
        transform: scale(1) rotate(0deg) translate(0px, 0px);
    }
}

@keyframes listingAnimation6 {
    0% {
        opacity: 0;
        transform: scale(1) rotate(10deg) translate(0px, 30px);
        animation-timing-function: ease-out;
    }

    100% {
        opacity: 1;
        transform: scale(1) rotate(0deg) translate(0px, 0px);
    }
}

@keyframes listingAnimation7 {
    0% {
        opacity: 0;
        transform: scale(1) rotate(0deg) translate(15px, 0px);
        animation-timing-function: ease-out;
    }

    100% {
        opacity: 1;
        transform: scale(1) rotate(0deg) translate(0px, 0px);
    }
}

@keyframes listingAnimation8 {
    0% {
        opacity: 0;
        transform: scale(1) rotate(10deg) translate(0px, 30px);
        animation-timing-function: ease-out;
    }

    100% {
        opacity: 1;
        transform: scale(1) rotate(0deg) translate(0px, 0px);
    }
}